{% extends "base.html" %}
{% block title %}{{ title }}{% endblock title %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h2>{{ title }}</h2>

            {% include "helpers/alerts.html" %}

            <a href="{% url 'bot_email_form' 0 %}" class="btn btn-primary">Добавить</a>
            <a href="{% url 'bot_email_bulk_form' %}" class="btn btn-secondary">Добавление нескольких</a>
            {% if count > 0 %}
            <table class="table table-condensed">
              <tr><th>Id</th><th>Доступен?</th><th>Email</th><th></th></tr>
              {% for row in page_items %}
                <tr>
                  <td>{{ row.id }}</td>
                  <td>{% if row.is_active and not row.is_used %}✅{% else %}⭕{% endif %}</td>
                  <td>{{ row.email }}</td>
                  <td>
                      <a href="{% url 'bot_email_form' row.id %}" class="btn btn-outline-secondary">Изменить</a>
                      <a href="{% url 'bot_email_delete' row.id %}" class="btn btn-outline-danger">Удалить</a>
                  </td></tr>
              {% endfor %}
            </table>

            <nav aria-label="Страницы">
                <span class="current">
                    Страница {{ page_items.number }} из {{ page_items.paginator.num_pages }}
                </span>
            <ul class="pagination">
                {% if page_items.has_previous %}
                    <li class="page-item">
                      <a class="page-link" href="?page={{ page_items.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_items.previous_page_number }}">{{ page_items.previous_page_number }}</a></li>
                {% endif %}

                <li class="page-item active" aria-current="page">
                  <a class="page-link" href="#">{{ page_items.number }}</a>
                </li>

                {% if page_items.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_items.next_page_number }}">{{ page_items.next_page_number }}</a></li>
                    <li class="page-item">
                      <a class="page-link" href="?page={{ page_items.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
                {% endif %}
            </ul>

            </nav>
            {% endif %}
        </div>
    </div>

{% endblock content %}
