{% extends "base.html" %}

{% block title %}Ошибка смены пароля{% endblock %}

{% block content %}

    {% if validlink %}
        <h2>Восстановление пароля</h2>
    {% else %}
        <h2>Ошибка восстановления пароля</h2>
    {% endif %}

    <div class="row justify-content-md-center">
        <div class="col-lg-4">

            {% if validlink %}
                <p>Пожалуйста, введите и подтвердите новый пароль:</p>

                {% load crispy_forms_tags %}

                <form action="" method="post">
                    {% csrf_token %}
                    <p>{{ form.new_password1|as_crispy_field }}</p>
                    <p>{{ form.new_password2|as_crispy_field }}</p>
                    <input type="submit" class="btn btn-primary" value="Изменить пароль" />
                </form>
            {% else %}
                <p>Ссылка восстановления пароля недействительна. Возможно, пароль был уже изменен. Пожалуйста, запросите <a href="{% url 'password_reset' %}">восстановление пароля</a> повтороно.</p>
            {% endif %}

        </div>
    </div>


{% endblock %}
