{% extends "base.html" %}
{% block title %}{{ title }}{% endblock title %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h2>{{ title }}</h2>
            {{ content }}
            
            <p>Необходимо сделать копии таблицы по ссылкам ниже.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h2>Таблицы</h2>

            <p><b>Статистика:</b></p>
            <p><a target="_blank" href="https://docs.google.com/spreadsheets/d/12e9bp-jlZOVgpVfFlFX7kwcL3Ib9ZQ4iIUadC4n8xns/edit?usp=sharing">https://docs.google.com/spreadsheets/d/12e9bp-jlZOVgpVfFlFX7kwcL3Ib9ZQ4iIUadC4n8xns/edit?usp=sharing</a></p>

            <p><b>Данные.Аналитика:</b></p>
            <p><a target="_blank" href="https://docs.google.com/spreadsheets/d/194IFHPfd-J7iSPugrvwbg5YPmnvwDG7MDIK49igdRzk/edit?usp=sharing">https://docs.google.com/spreadsheets/d/194IFHPfd-J7iSPugrvwbg5YPmnvwDG7MDIK49igdRzk/edit?usp=sharing</a></p>

            <p><b>Данные.Реклама:</b></p>
            <p><a target="_blank" href="https://docs.google.com/spreadsheets/d/1DF46FG3p83V0U8ZUzbyG7jjtElBscD17aFAeIcMISnM/edit?usp=sharing">https://docs.google.com/spreadsheets/d/1DF46FG3p83V0U8ZUzbyG7jjtElBscD17aFAeIcMISnM/edit?usp=sharing</a></p>

            <p><b>Данные.Товары:</b></p>
            <p><a target="_blank" href="https://docs.google.com/spreadsheets/d/1_DobVaxq5Rh-lpXD_cy2BkP3NB759HbLM5sr_kggqCY/edit?usp=sharing">https://docs.google.com/spreadsheets/d/1_DobVaxq5Rh-lpXD_cy2BkP3NB759HbLM5sr_kggqCY/edit?usp=sharing</a></p>

        </div>
    </div>

{% endblock content %}
